@import "tailwindcss";

@font-face {
  font-family: 'JetBrains Mono Nerd Font';
  src: url('/fonts/JetBrainsMonoNerdFontMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Page background (a hair darker) */
  --gv-bg: #1d2021;
  --gv-bg1: #3c3836;

  --gv-panel: #282828;
  --gv-panel2: #3c3836;

  /* Foreground & accents */
  --gv-fg: #ebdbb2;
  --gv-yellow: #fabd2f;
  --gv-orange: #fe8019;
  --gv-green: #b8bb26;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono Nerd Font', monospace;
  background-color: var(--gv-bg);
  color: var(--gv-fg);
}
